      <style>
			body {
				background-color:white;
				background-image: url('<%= SiteInfo.first.bg_img_link %>');
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			.hero-unit {
				background-color:black;
				color:white;
				opacity:0.8;
				filter:alpha(opacity=80); /* For IE8 and earlier */
			}
			</style>
			<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="background-image:url('images/mall.gif'); background-size:49%;background-repeat:no-repeat;background-position:right bottom;filter:alpha(opacity=100);">
        <font color="#0065d0"><h1>Sell Real Products in Games</h1></font>
				<p></p>
        <p>
				InGidio enables in-game real product shopping
				</p>
        <p>
			 	Just copy and paste <a href="#" id="display_js_control" onclick="display_code('js_exp');">some code</a>, 
				or use <a href="#" id="display_curl_control" onclick="display_code('curl_exp');">urls</a>
				</p>
				<div id="js_exp" class="" style="display:none">
					<%= render "js_exp" %>
				</div>
				<div id="curl_exp" class="" style="display:none">
					<%= render "curl_exp" %>
				</div>
				<script>
					function display_code(id_tag) {
						if (id_tag == "js_exp") {
							$("#js_exp").show();
							$("#curl_exp").hide();
							$("#display_js_control").attr("onclick","$('#js_exp').hide();$(this).attr(\"onclick\",\"display_code('js_exp');\");");
						} else {
							$("#js_exp").hide();
							$("#curl_exp").show();
							$("#display_curl_control").attr("onclick","$('#curl_exp').hide();$(this).attr(\"onclick\",\"display_code('curl_exp');\")");
						}
					}					
				</script>
				<p>
				and we will take of the rest for you.
				</p>
				<br>
				<p>
				Yes, it's that simple. Be the first to try it!
				</p>

	<p>
	<%= @msg %>
	</p>

  <p>
    <%= form_for "subscriber", :url => sub_index_path, :method=>'post',:remote=>true do |f| %>                                      
      <div id='response' style="display:none;width:40.5em">
      </div>
		<div id="sub_form">
			
      <%= f.text_field :email, :placeholder=>'test@example.com', :style=>'font-size:2em;height:2em;width:15em' %> 
      <button id='subscribe_button' class="btn btn-primary btn-large" 
					style='opacity:1.0;height:2.4em;font-size:2em;vertical-align:top;' onclick="$(this).button('loading')" data-loading-text='saving...'>Join Beta</button>
	</div>
    <% end %>
  </p>
	We will never ever spam you or sell your info. Ever.

      </div>

			<script>
				$('.hero-unit').blurjs({ source: 'body', radius: 10 });
			</script>
